/out/production/bdg_team/chapter1/nested/member/A$B$C.class
/out/production/bdg_team/chapter1/nested/member/A$B.class
/out/production/bdg_team/chapter1/nested/member/A.class
/out/production/bdg_team/chapter1/abstractclass/Animal.class
/out/production/bdg_team/chapter3/comparable/Animal.class
/out/production/bdg_team/chapter1/nested/anonymous/AnonInner$1.class
/out/production/bdg_team/chapter1/nested/anonymous/AnonInner$SaleTodayOnly.class
/out/production/bdg_team/chapter1/nested/anonymous/AnonInner.class
/out/production/bdg_team/chapter1/abstractclass/BigCat.class
/out/production/bdg_team/chapter1/accessmodifiers/cat/BigCat.class
/out/production/bdg_team/chapter1/hashCode/Card.class
/out/production/bdg_team/chapter1/accessmodifiers/cat/CatAdmirer.class
/out/production/bdg_team/chapter3/generics/Crate.class
/out/production/bdg_team/listTask/CustomArrayList.class
/out/production/bdg_team/listTask/CustomLinkedList$Node.class
/out/production/bdg_team/listTask/CustomLinkedList.class
/out/production/bdg_team/chapter3/generics/legacy/Dragon.class
/out/production/bdg_team/chapter3/comparable/Duck.class
/out/production/bdg_team/chapter3/comparator/Duck.class
/out/production/bdg_team/chapter3/method_references/DuckHelper.class
/out/production/bdg_team/chapter1/instance_of/Elephant.class
/out/production/bdg_team/chapter1/nested/staticnested/Enclosing$Nested.class
/out/production/bdg_team/chapter1/nested/staticnested/Enclosing.class
/out/production/bdg_team/chapter3/generics/bounds/upper_bounded/Flyer.class
/out/production/bdg_team/chapter3/generics/bounds/upper_bounded/Goose.class
/out/production/bdg_team/chapter3/generics/bounds/upper_bounded/HangGlider.class
/out/production/bdg_team/chapter1/instance_of/HeavyAnimal.class
/out/production/bdg_team/chapter1/instance_of/Hippo.class
/out/production/bdg_team/chapter1/overriding/Kangaroo.class
/out/production/bdg_team/chapter3/generics/legacy/LegacyAutoboxing.class
/out/production/bdg_team/chapter3/generics/legacy/LegacyDragons.class
/out/production/bdg_team/chapter3/comparable/LegacyDuck.class
/out/production/bdg_team/chapter3/generics/legacy/LegacyUnicorns.class
/out/production/bdg_team/chapter1/abstractclass/Lion.class
/out/production/bdg_team/chapter1/hashCode/Lion.class
/out/production/bdg_team/chapter1/accessmodifiers/cat/species/Lynx.class
/out/production/bdg_team/chapter3/comparator/Main$1.class
/out/production/bdg_team/chapter3/generics/bounds/upper_bounded/Main$Bird.class
/out/production/bdg_team/chapter3/generics/bounds/upper_bounded/Main$Sparrow.class
/out/production/bdg_team/chapter1/enums/Main.class
/out/production/bdg_team/chapter1/instance_of/Main.class
/out/production/bdg_team/chapter1/multipleoverloaded/Main.class
/out/production/bdg_team/chapter3/comparator/Main.class
/out/production/bdg_team/chapter3/generics/bounds/lower_bounded/Main.class
/out/production/bdg_team/chapter3/generics/bounds/unbounded/Main.class
/out/production/bdg_team/chapter3/generics/bounds/upper_bounded/Main.class
/out/production/bdg_team/chapter3/generics/Main.class
/out/production/bdg_team/chapter3/searching_sorting/Main.class
/out/production/bdg_team/chapter3/Main.class
/out/production/bdg_team/listTask/Main.class
/out/production/bdg_team/Main.class
/out/production/bdg_team/chapter1/overriding/Marsupial.class
/out/production/bdg_team/chapter1/instance_of/Mother.class
/out/production/bdg_team/chapter1/instance_of/MotherHippo.class
/out/production/bdg_team/chapter1/accessmodifiers/mouse/Mouse.class
/out/production/bdg_team/chapter1/enums/OnlyOne.class
/out/production/bdg_team/chapter1/nested/local/Outer$1Inner.class
/out/production/bdg_team/chapter1/nested/member/Outer$Inner.class
/out/production/bdg_team/chapter1/nested/local/Outer.class
/out/production/bdg_team/chapter1/nested/member/Outer.class
/out/production/bdg_team/chapter1/abstractclass/README.txt
/out/production/bdg_team/chapter1/multipleoverloaded/README.txt
/out/production/bdg_team/chapter1/overriding/README.txt
/out/production/bdg_team/chapter1/enums/Season.class
/out/production/bdg_team/chapter1/enums/Season2$1.class
/out/production/bdg_team/chapter1/enums/Season2$2.class
/out/production/bdg_team/chapter1/enums/Season2.class
/out/production/bdg_team/chapter3/generics/Shippable.class
/out/production/bdg_team/chapter3/generics/ShippableCrate.class
/out/production/bdg_team/chapter3/generics/SizeLimitedCrate.class
/out/production/bdg_team/chapter3/searching_sorting/SortRabbits$Rabbit.class
/out/production/bdg_team/chapter3/searching_sorting/SortRabbits.class
/out/production/bdg_team/chapter3/generics/legacy/Unicorn.class
/out/production/bdg_team/chapter3/searching_sorting/UseTreeSet$Rabbit.class
/out/production/bdg_team/chapter3/searching_sorting/UseTreeSet.class
 git rm -r --cached .idea
 git rm -r --cached out
 git rm -r --cached *.iml
