

CREATE TABLE Laptop (
	code int NOT NULL ,
	model varchar (4) NOT NULL ,
	speed decimal(4, 0) NOT NULL ,
	ram decimal(4, 0) NOT NULL ,
	hd decimal(3, 0) NOT NULL ,
	price float NOT NULL ,
	screen int NOT NULL
);


CREATE TABLE PC (
	code int NOT NULL ,
	model varchar (4) NOT NULL ,
	speed decimal(4, 0) NOT NULL ,
	ram decimal(4, 0) NOT NULL ,
	hd decimal(3, 0) NOT NULL ,
	cd varchar (3) NOT NULL ,
	price float NOT NULL
);


CREATE TABLE Product (
	maker char (1) NOT NULL ,
	model varchar (4) NOT NULL ,
	type varchar (7) NOT NULL
);


CREATE TABLE Printer (
	code int NOT NULL ,
	model varchar (4) NOT NULL ,
	color char (1) NOT NULL ,
	type varchar (6) NOT NULL ,
	price float NOT NULL
);


ALTER TABLE Laptop  ADD
	CONSTRAINT PK_Laptop PRIMARY KEY  NONCLUSTERED
	(
		code
	) ;

ALTER TABLE PC  ADD
	CONSTRAINT PK_PC PRIMARY KEY  NONCLUSTERED
	(
		code
	) ;


ALTER TABLE Product  ADD
	CONSTRAINT PK_Product PRIMARY KEY  NONCLUSTERED
	(
		model
	) ;


ALTER TABLE Printer  ADD
	CONSTRAINT PK_Printer PRIMARY KEY  NONCLUSTERED
	(
		code
	) ;


ALTER TABLE Laptop ADD
	CONSTRAINT FK_Laptop_Product FOREIGN KEY
	(
		model
	) REFERENCES Product (
		model
	);


ALTER TABLE PC ADD
	CONSTRAINT FK_PC_Product FOREIGN KEY
	(
		model
	) REFERENCES Product (
		model
	);


ALTER TABLE Printer ADD
	CONSTRAINT FK_Printer_Product FOREIGN KEY
	(
		model
	) REFERENCES Product (
		model
	);

insert into Product values('B','1121','PC');
insert into Product values('A','1232','PC');
insert into Product values('A','1233','PC');



insert into PC values(1,'1232',500,64,5,'12x',600);
insert into PC values(2,'1121',750,128,14,'40x',850);
insert into PC values(3,'1233',500,64,5,'12x',600);




insert into Laptop values(1,'1298',350,32,4,700,11);
insert into Laptop values(2,'1321',500,64,8,970,12);
insert into Laptop values(3,'1750',750,128,12,1200,14);




insert into Printer values(1,'1276','n','Laser',400);
insert into Printer values(2,'1433','y','Jet',270);
insert into Printer values(3,'1434','y','Jet',290);

select maker from Product where type = 'PC';

select maker, count(model) from Product group by maker;

select maker, count(type) from Product group by maker;

select avg(price) from Laptop;

select code, PC.model, speed, price from PC;

select code, printer.model, price, maker from printer
    left join product on Printer.model = Product.model
order by code;

select code, pc.model, speed, price from product
    join pc on product.model = pc.model;

select maker, ifnull(avg(pc.price),0) from product
    left join pc on Product.model = pc.model
group by maker;

select maker from product
    where type = 'PC' and maker in (
        select maker from product where type = 'Printer'
        );

select maker from product
    inner join laptop l on Product.model = l.model = l.model and l.speed > 500
where maker not in (select maker from product where Product.type = 'Printer');